body {
  margin: 0;
  background-color: #f0f2f5;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.circularIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e4e6eb;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
  .fixedRightSide {
    display: none;
  }
}
